* {
  box-sizing: border-box;
  font-family: Georgia, serif; }

body {
  margin: 0px; }

#page {
  width: 100%;
  margin: auto; }

.pageHeader {
  margin: 10px;
  height: auto;
  font-weight: bold;
  font-size: 3em;
  color: #AA3322; }
  .pageHeader ul {
    list-style: none;
    font-size: .25em;
    float: right;
    padding-top: 20px; }
    .pageHeader ul li {
      display: inline;
      padding-right: 10px; }
      .pageHeader ul li a {
        color: #AA3322;
        text-decoration: none; }
      .pageHeader ul li a:hover {
        background-color: #AA3322; }

.banner {
  margin: 1em;
  padding: .5em;
  float: right;
  font-weight: bold;
  font-size: 2em;
  color: #E4B363;
  background-color: rgba(0, 0, 0, 0.8); }
  .banner span {
    display: block;
    font-weight: normal;
    font-size: .7em;
    vertical-align: top; }

.space {
  font-style: italic;
  font-size: 1.5em;
  text-align: center; }
  .space div {
    margin: 20px;
    width: 300px;
    display: inline-block; }
    .space div img {
      float: left;
      height: 132px;
      width: 132px; }
    .space div span {
      font-weight: normal;
      font-size: .7em;
      vertical-align: top; }

.heroSpace {
  height: 400px;
  width: 100%;
  background: no-repeat center url(../img/heroSpace.jpg) #CCC;
  background-size: cover; }

@media (max-width: 805px) {
  .pageHeader {
    margin: 5px;
    font-size: 2em; }
    .pageHeader ul {
      font-size: .5em;
      display: block;
      float: none;
      padding: 0px;
      margin: auto;
      text-align: center; }
  .heroSpace {
    text-align: center; }
  .banner {
    margin: 1em auto;
    font-size: 1.5em;
    width: 100%;
    margin: 2em 0; } }
