$primaryCOlor: #AA3322; //AA3321
$secondaryColor: #E4B363;

* {
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body {
    margin: 0px;
}

#page {
    width: 100%;
    margin: auto;
}

.pageHeader {
    margin: 10px;
    height: auto;
    font-weight: bold;
    font-size: 3em;
    color: $primaryCOlor;
    
    ul {
        list-style: none;
        font-size: .25em;
        float:right;
        padding-top: 20px;
        
        li {
            display: inline;
            padding-right: 10px;
            
            a {
                color: $primaryCOlor;
                text-decoration: none;
            }
            
            a:hover {
                background-color: $primaryCOlor;
            }
        }
    }
}

.banner {
    margin: 1em;
    padding: .5em;
    float: right;
    font-weight: bold;
    font-size: 2em;
    color: $secondaryColor;
    background-color: rgba(0, 0, 0, 0.8);
    
    span {
        display: block;
        font-weight: normal;
        font-size: .7em;
        vertical-align: top;
    }
}

.space {
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
    
    div {
        margin: 20px;
        width: 300px;
        display: inline-block;
        
        img {
            float:left;
            height: 132px;
            width: 132px;
        }
        
        span {
            font-weight: normal;
            font-size: .7em;
            vertical-align: top;
        }
    }
}

.heroSpace {
    height: 400px;
    width: 100%;
    background: no-repeat center url(../img/heroSpace.jpg) #CCC;
    background-size: cover;
}

@media(max-width: 805px) {
    .pageHeader {
        margin: 5px;
        font-size: 2em;
        
        ul {
            font-size: .5em;
            display: block;
            float: none;
            padding: 0px;
            margin: auto;
            text-align: center;
        }
    }
    
    .heroSpace {
        text-align: center;
    }
    
    .banner {
        margin: 1em auto;
        font-size: 1.5em;
        width: 100%;
        margin: 2em 0;
    }
}